extends layout

block content
  -data = data || {}

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  form(action="." method="POST" class="form-translation")
    label(for="paragraph") You Say:
    input(
      type="text"
      id="paragraph"
      name="paragraph"
      class="form-control"
      value=data.paragraph
    )

    input(
      type="submit"
      value="Translate"
      class="btn btn-lg btn-primary btn-block"
      )

    label(for="insights") Simon Says:
    input(
      type="text"
      id="insights"
      name="insights"
      class="form-control"
      value=data.insights
    )

    input(
      type="submit"
      value="clear"
      class="btn btn-lg btn-primary btn-block"
      )