extends layout

block content
  -data = data || {}

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  form(action="." method="POST" class="form-registration")
    label(for="paragraph") You Say:
    input(
      type="text"
      id="paragraph"
      name="paragraph"
      class="form-control"
      value=data.paragraph
    )

    //- label(for="email") Email:
    //- input(
    //-   type="email"
    //-   id="email"
    //-   name="email"
    //-   class="form-control"
    //-   value=data.email
    //- )

    input(
      type="submit"
      value="Translate"
      class="btn btn-lg btn-primary btn-block"
      )